/* styles.css */

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pacifico', cursive;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#logoMain {
    width: 200px;
}

/* Main Content Sections */
.main-section,
.three-columns-different-width,
.three-columns-same-width,
.four-columns-section,
.missed-it-section {
    margin: 20px;
}

.block {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

/* Columns within sections */
.column {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
}

/* Different column widths */
.wide {
    width: 90%;
}

.medium {
    width: 60%;
}

.narrow {
    width: 40%;
}

/* Responsive Design */
@media only screen and (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 10px;
    }
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 0 1 30%;
    padding: 10px;
}

.last-footer {
    margin-top: 20px;
    text-align: center;
}
